<table>
<tr>
    <td style="width:350px">
        <div><img src="{{details.image_url}}" alt="{{details.title}}"></div>
        <div>Pages: {{details.pages}}</div> 
        <div>Rating: {{details.rating}} ({{details.rating_count}})</div>
        <div>Genres:</div>
        <div style="width:350px">{{details.genres}}</div>
    </td>
    <td style="width:500px; vertical-align:top">
        <div><h2>{{details.title}}</h2></div>
        <div><h3>by {{details.authors}}</h3></div>
        <div>{{details.description}}</div>
        <br>        
        <div><a href="../reviews/{{details.title}}/{{details.authors}}">Find Review</a></div>
    </td>
</tr>
</table>
<form method="GET" action="/">
    <button type"submit">Home</button>
</form>